/*********************************/
/*********** Buttons *************/
/*********************************/
.btn {
	color: $white; font-family: $ms-500; font-size: 14px;
	padding: 11px 17px 8px;
	background: #629cff; border: solid 2px #629cff; border-radius: 100px;
	transition: 0.3s ease-out;
	cursor: pointer;
	&:hover {
		color: #629cff;
		background: $white;
	}
	&-white {
		@extend .btn;
		color: $brand;
		background: $white; border-color: $white;
		&:hover {
			color: $white;
			background: $brand;
		}
	}
}




/*********************************/
/******** Class Helpers **********/
/*********************************/
.icon {
	display: inline-block;
}

.container {
	width: 1180px; margin: 0 auto;
	@include respond-to(lg) {
		width: 950px;
	}
	@include respond-to(md) {
		width: 750px;
	}
	@include respond-to(sm) {
		width: 100%; padding: 0 15px;
	}
}


/*********************************/
/*********** Modules *************/
/*********************************/

.header {
	display: flex; justify-content: space-between; align-items: center;
	a.logo {
		display: flex; align-items: center;
		img {
			@include respond-to(sm) {
				width: 60px;
			}
		}
		span {
			color: $brand; font-family: $ms-500; font-size: 30px; line-height: 38px;
			padding-top: 11px; margin-left: 12px;
			@include respond-to(sm) {
				font-size: 20px; line-height: 26px;
				margin-left: 5px; padding-top: 7px;
			}
		}
	}
	nav {
		display: flex; align-items: center; padding-top: 10px;
		ul {
			display: flex;
			@include respond-to(sm) {
				display: none;
			}
			li {
				margin-right: 43px;
				&:last-child {
					margin-right: 0;
				}
				a {
					color: $black; font-family: $ms-300; font-size: 15px; line-height: 20px;
					opacity: 0.7;
					transition: 0.3s ease-out;
					&:hover {
						color: $brand;
					}
				}
			}
		}
		a.user {
			display: block; width: 32px; height: 32px; position: relative; margin-left: 41px;
			background-color: #f5f2f7; border-radius: 50%;
			overflow: hidden;
			img {
				max-width: 100%; max-height: 100%;
				position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);
			}
		}
		a.burger {
			display: block; width: 25px; height: 25px; position: relative; margin-left: 32px;
			span {
				display: block; width: 19px; height: 2px; position: absolute; left: 50%; transform: translateX(-50%);
				background: #b2b2b2;
				&:first-child {
					top: 4px;
				}
				&:nth-child(2), &:nth-child(3) {
					top: 11px;
				}
				&:last-child {
					top: 18px;
				}
			}
		}
	}
}
.subheader {
	display: flex; align-items: center; justify-content: space-between;
	@include respond-to(lg) {
		flex-direction: column;
	}
	& > p {
		color: $white; font-family: $ms-300; font-size: 18px; line-height: 20px;
		flex-shrink: 0;
		@include respond-to(lg) {
			text-align: center;
			width: 100%; margin-bottom: 15px;
		}
	}
	ul {
		display: flex; align-items: center;
		@include respond-to(lg) {
			width: 100%; justify-content: center; margin-bottom: 15px;
		}
		@include respond-to(sm) {
			flex-wrap: wrap; width: 60%;
		}
		@include respond-to(xs) {
			width: 100%;
		}
		li {
			display: flex; align-items: center; margin: 0 20px;
			@include respond-to(lg) {
				width: 33.333333%; margin: 0; padding: 0 20px;
			}
			@include respond-to(sm) {
				width: 100%; position: relative; padding-left: 50px; margin-bottom: 15px;
			}
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0; margin-bottom: 0;
			}
			span {
				color: $white; font-family: $ms-500; font-size: 22px; line-height: 20px;
				margin-right: 13px;
				@include respond-to(sm) {
					position: absolute; left: 25px; top: 50%; transform: translate(-50%, -50%); margin-right: 0;
				}
				i {

				}
			}
			p {
				color: $white; font-family: $ms-300; font-size: 14px; line-height: 16px;
			}
			br {
				@include respond-to(lg) {
					display: none;
				}
			}
		}
	}
	a {
		font-family: $ms-300;
	}
}

.footer {
	display: flex; justify-content: space-between; align-items: center;
	@include respond-to(sm) {
		flex-direction: column; align-items: flex-start;
	}
	p {
		color: #575757; font-family: $helv; font-size: 11px; line-height: 13px; letter-spacing: 0.35px;
		opacity: 0.5;
		@include respond-to(sm) {
			order: 1;
		}
		small {
			line-height: inherit;
			display: block;
		}
	}
	nav {
		padding-bottom: 2px;
		@include respond-to(sm) {
			order: 0; margin-bottom: 15px;
		}
		ul {
			display: flex; align-items: center; flex-wrap: wrap;
			li {
				margin-right: 19px;
				&:last-child {
					margin-right: 0;
				}
				a {
					color: $brand; font-family: $helv; font-size: 11px; line-height: 14px; letter-spacing: 0.35px;
					margin-right: 0; display: inline-block;
					@include respond-to(sm) {
						font-size: 14px;
						line-height: 18px;
					}
					&:last-child {
						margin-right: 0;
					}

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.page-navigation {
	display: flex; align-items: center; justify-content: space-between; padding-left: 48px; padding-right: 6px; margin-bottom: 18px;
	@include respond-to(lg) {
		flex-direction: column; align-items: flex-start;
	}
	@include respond-to(sm) {
		padding: 0 15px;
	}
	a {
		color: $white; font-family: $ms-300; font-size: 16px;
		@include respond-to(xs) {
			font-size: 14px;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	& > a {
		padding-left: 16px; position: relative;
		&:before {
			content: '';
			display: block; position: absolute; left: 0; top: 50%; transform: translateY(-50%);
			border-top: solid 5px transparent; border-bottom: solid 5px transparent; border-right: solid 8px $white;
		}
	}
	ul {
		display: flex; align-items: center;
		@include respond-to(lg) {
			margin-top: 15px; flex-wrap: wrap;
		}
		li {
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
			a {

			}
		}
	}
}

.filter {
	h2 {
		color: $black; font-family: $ms-500; font-size: 36px; line-height: 42px;
		margin-bottom: 45px;
		@include respond-to(sm) {
			font-size: 26px; line-height: 32px;
		}
	}
	& > ul {
		display: flex;
		@include respond-to(sm) {
			flex-wrap: wrap;
		}
		& > li {
			width: 50%;
			@include respond-to(sm) {
				width: 100%; margin-bottom: 25px;
			}
			&:first-child {
				padding-right: 10px;
				@include respond-to(sm) {
					padding-right: 0;
				}
			}
			&:last-child {
				padding-left: 10px; margin-bottom: 0;
				@include respond-to(sm) {
					padding-left: 0;
				}
			}
			& > * {
				&:last-child {
					margin-bottom: 0;
				}
			}
			input[type=checkbox] {
				display: none;
			}
			label {
				color: $black; font-family: $ms-500; font-size: 16px; line-height: 22px;
				position: relative; padding-left: 29px;
				&:before {
					content: '';
					display: block; width: 14px; height: 14px; position: absolute; left: 5px; top: 50%; transform: translateY(-50%);
					background: $white; border: solid 1px $brand; border-radius: 2px;
					transition: 0.3s ease-out;
				}
				&:after {
					content:'';
					display: block; width: 4px; height: 4px; position: absolute; left: 10px; top: 50%; transform: translateY(-50%);
					background: $white;
				}
			}
			input[type=checkbox]:checked + label {
				&:before {
					background: $brand;
				}
			}
			select {
				color: $black; font-family: $ms-500; font-size: 15px;
				padding-bottom: 15px; display: block; width: 100%; margin-bottom: 50px; padding-right: 25px;
				background: transparent url('../img/select-arrow.png') right 9px top 8px no-repeat; border: none; border-bottom: solid 1px #ebebeb;
				appearance: none;
				@include respond-to(sm) {
					margin-bottom: 25px;
				}
				&:focus {
					outline: none;
				}
			}
		}
	}
}

.select {
	position: relative;
	& > a {
		color: $black; font-family: $ms-500; font-size: 15px;
		display: inline-block; position: relative; padding-right: 19px;
		&:after {
			content: '';
			display: block; width: 6px; height: 6px; position: absolute; right: 0; top: 50%; transform: translateY(-50%) rotate(45deg);
			border-right: 2px solid $black; border-bottom: 2px solid $black;
			opacity: 0.2;
		}
	}
	& > ul {
		display: none; position: absolute; left: -11px; bottom: -14px; transform: translateY(100%); z-index: 10;
		background: $white; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); border-radius: 4px;
		overflow: hidden;
		&.active {
			display: block;
		}
		& > li {
			width: 100%;
			a {
				color: $black; font-family: $ms-500; font-size: 15px; font-weight: 300;
				padding: 19px 18px 21px; display: block;
				transition: 0.3s ease-out;
				&:hover {
					background: #f4fcff;
				}
			}
		}
	}
}

.date-picker{
	& > * {
		&:last-child {
			@include respond-to(xs) {
				margin-bottom: 0;
			}
		}
	}
	span {
		color: $black; font-family: $ms-500; font-size: 16px;
		@include respond-to(xs) {
			display: none;
		}
		&.mob {
			display: none;
			@include respond-to(xs) {
				display: block; margin-bottom: 5px;
			}
		}
	}
	input {
		color: $black; font-family: $ms-500; font-size: 15px;
		padding: 0 10px 15px;
		background: transparent url('../img/select-arrow.png') right 9px top 8px no-repeat; border: none; border-bottom: solid 1px #ebebeb;
		appearance: none;
		@include respond-to(xs) {
			margin-bottom: 25px; padding: 0 0 5px; width: 100%;
		}
		&:focus {
			outline: none;
		}
	}
}

// Index Page
.main {
	&-intro {
		padding-bottom: 42px;
		* {
			text-align: center;
		}
		h1 {
			color: $white; font-family: $ms-500; font-size: 36px; line-height: 42px;
			margin-bottom: 37px;
			@include respond-to(xs) {
				font-size: 30px; line-height: 36px;
			}
		}
		form {
			input {
				color: $white; font-family: $ms-300; font-size: 25px; line-height: 26px;
				padding-bottom: 14px; margin-bottom: 10px;
				background: transparent; border: none; border-bottom: solid 2px $white; max-width: 580px; width: 100%;
				@include respond-to(xs) {
					font-size: 22px;
					padding-bottom: 8px;
				}
				&::-webkit-input-placeholder {color: $white;opacity: 0.5;}
				&::-moz-placeholder {color: $white;opacity: 0.5;}
				&:-moz-placeholder {color: $white;opacity: 0.5;}
				&:-ms-input-placeholder {color: $white;opacity: 0.5;}
			}
			p {
				color: $white; font-family: $ms-300; font-size: 14px;
				margin-bottom: 54px;
				opacity: 0.5;
			}
			button {
				@extend .btn-white;
				font-size: 18px;
				min-width: 215px; padding: 13px 17px 11px;
			}
		}
	}

	&-info {
		h2 {
			color: $black; font-family: $ms-500; font-size: 28px;
			margin-bottom: 45px;
			@include respond-to(sm) {
				font-size: 24px; line-height: 28px;
			}
		}
		& > ul {
			display: flex; align-items: center; margin-bottom: 40px;
			@include respond-to(sm) {
				flex-direction: column; align-items: flex-start;
			}
			& > li {
				margin-right: 37px;
				@include respond-to(sm) {
					margin-right: 0; margin-bottom: 20px; width: 100%;
				}
				&:last-child {
					margin-right: 0; 
					@include respond-to(sm) {
						margin-bottom: 10px;
					}
				}
			}
		}
		table {
			width: 100%; position: relative;
			background: #ffffff; border-radius: 4px; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
			@include respond-to(md) {
				display: block; overflow-x: auto;
			}
			tr {
				min-height: 90px;
				&:hover {
					background: #f3f3f3;
				}
				&:last-child {
					td {
						border-bottom: none;
					}
				}
				&:first-child {
					height: auto;
					&:hover {
						background: none;
					}
				}
				th {
					color: $gray-text; font-family: $ms-500; font-size: 14px; text-align: left;
					padding: 10px 20px;
					border-bottom: solid 1px #d8d8d8;
					@include respond-to(lg) {
						padding: 0 0 0 10px;
					}
					@include respond-to(md) {
						padding: 10px;
						border-bottom: solid 1px #d8d8d8;
					}
				}
				td {
					color: $black; font-family: $ms-500; font-size: 16px;
					padding: 25px 0 25px 20px; vertical-align: middle; position: relative;
					border-bottom: solid 1px #d8d8d8;
					@include respond-to(lg) {
						padding: 10px 0 10px 10px;
					}
					&:first-child {
						width: 15.25424%; min-width: 145px;
					}
					&:nth-child(2) {
						width: 27.11864%; min-width: 258px;
					}
					&:nth-child(3) {
						width: 27.9661%; min-width: 266px;
					}
					&:nth-child(4) {
						width: 16.94915%; min-width: 161px;
					}
					&:last-child {
						width: 12.71187%; min-width: 120px;
					}
					span {
						color: $brand; font-family: $ms-500; font-size: 22px;
						@include respond-to(md) {
							font-size: 18px;
						}
						a {
							&:hover {
								color: $black;
							}
						}
					}
					a {
						color: inherit; font-size: inherit; font-family: inherit; line-height: inherit; letter-spacing: inherit;
						padding-left: 20px; position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: flex; align-items: center;
						@include respond-to(lg) {
							padding-left: 10px;
						}
						&:hover {
							color: $brand;
						}
					}
				}
			}
		}
	}
}

// Transaction Page
.transactions {
	&-tabs {
		&-mobile {
			display: none; margin-top: -42px; position: relative; top: -54px;
			@include respond-to(sm) {
				display: block;
			}
			ul {
				display: flex;
				li {
					&.active {
						a {
							background: $gray-bg;
							pointer-events: none;
						}
					}
					a {
						color: $black; font-family: $ms-500; font-size: 16px;
						display: block; padding: 18px 25px 16px;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
	&-intro {
		padding: 44px 50px 58px;
		background: $white; box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
		@include respond-to(sm) {
			padding: 20px 15px 25px; 
		}
		header {
			margin-bottom: 38px;
			h1 {
				color: $black; font-family: $ms-500; font-size: 26px; line-height: 34px;
				@include respond-to(sm) {
					font-size: 20px; line-height: 26px;
				}
			}
		}
		section {
			display: flex; align-items: flex-start;
			@include respond-to(sm) {
				flex-wrap: wrap;
			}
			ul {
				display: flex; align-items: center; width: 500px; padding-right: 20px; flex-shrink: 0;
				@include respond-to(lg) {
					flex-direction: column; align-items: flex-start; padding-right: 0; width: 250px;
				}
				@include respond-to(sm) {
					width: 100%; margin-bottom: 20px;  flex-direction: row;
				}
				@include respond-to(xs) {
					flex-direction: column;
				}
				li {
					width: 50%; padding-right: 30px;
					@include respond-to(lg) {
						width: 100%; margin-bottom: 10px;
					}
					@include respond-to(sm) {
						padding-right: 15px;
					}
					&:last-child {
						@include respond-to(xs) {
							margin-bottom: 0;
						}
					}
					
					span {
						color: $black; font-family: $ms-500; font-size: 14px; line-height: 22px;
						display: block;
					}
					p {
						color: $black; font-family: $ms-500; font-size: 26px; line-height: 34px;
						@include respond-to(sm) {
							font-size: 20px;
						}
					}
				}
			}
			& > p {
				color: $black; font-family: $ms-500; font-size: 14px; line-height: 20px; letter-spacing: 0.03px;
				width: 100%; padding-top: 11px; padding-right: 20px;
				@include respond-to(sm) {
					padding-top: 0; padding-right: 0;
				}
			}
		}
	}

	&-info {
		display: flex;
		@include respond-to(sm) {
			flex-wrap: wrap;
		}
		& > div {
			width: 50%;
			@include respond-to(sm) {
				width: 100%; margin-bottom: 60px;
			}
			&:first-child {
				padding-right: 50px;
				@include respond-to(sm) {
					padding-right: 0;
				}
			}
			&:last-child {
				padding-left: 10px; padding-right: 40px;
				@include respond-to(sm) {
					margin-bottom: 0; padding-left: 0; padding-right: 0;
				}
			}
			header {
				padding-left: 74px; margin-bottom: 28px;
				@include respond-to(sm) {
					padding-left: 40px;
				}
				h3 {
					color: $black; font-family: $ms-500; font-size: 19px;
					margin-bottom: 15px;
					@include respond-to(sm) {
						font-size: 18px;
					}
				}
				p {
					color: $black; font-family: $ms-500; font-size: 36px; line-height: 42px;
					padding-left: 13px; position: relative;
					@include respond-to(sm) {
						font-size: 30px; line-height: 36px;
						padding-left: 0;
					}
					&:before {
						content: '';
						display: block; width: 12px; height: 23px; position: absolute; left: -43px; top: 7px;
						@include respond-to(sm) {
							left: -30px;
						}
					}
				}
			}
			& > ul {
				& > li {
					margin-bottom: 10px; padding: 36px 3px 32px 74px;
					background: $white; box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1); border-radius: 4px;
					@include respond-to(sm) {
						padding: 25px 15px 30px 40px;
					}
					&:last-child {
						margin-bottom: 0;
					}
					&.active {
						border: 2px solid $brand;
					}
					span.date {
						color: $black; font-family: $ms-500; font-size: 16px;
						display: block; margin-bottom: 12px;
					}
					& > p {
						color: $black; font-family: $ms-500; font-size: 28px; line-height: 36px;
						margin-bottom: 23px; position: relative;
						@include respond-to(sm) {
							font-size: 24px; line-height: 30px;
						}
						&:before {
							content: '';
							display: block; width: 5px; height: 20px; position: absolute; left: -36px; top: 6px;
							@include respond-to(sm) {
								left: -25px;
							}
						}
					}
					ul {
						display: flex; flex-wrap: wrap; margin-bottom: -21px;
						li {
							width: 50%; margin-bottom: 21px; padding-right: 20px;
							@include respond-to(md) {
								width: 100%; padding-right: 0;
							}
							span {
								color: #4b5769; font-family: $ms-300; font-size: 10px; line-height: 18px; text-transform: uppercase; letter-spacing: 1px;
								display: block;
							}
							p {
								color: $black; font-family: $ms-500; font-size: 16px;
							}
						}
					}
				}
			}
		}
		.income {
			header {
				p {
					&:before {
						background: #00bcff;
					}
					&:after {
						content: '';
						display: block; position: absolute; left: -50px; top: 19px;
						border-top: solid 20px #00bcff; border-left: solid 13px transparent; border-right: solid 13px transparent;
						@include respond-to(sm) {
							left: -37px;
						}
					}
				}
			}
			& > ul {
				& > li {
					& > p {
						&:before {
							background: #00bcff;
						}
						&:after {
							content: '';
							display: block; position: absolute; left: -40px; top: 21px;
							border-top: solid 10px #00bcff; border-left: solid 6.5px transparent; border-right: solid 6.5px transparent;
							@include respond-to(sm) {
								left: -29px;
							}
						}
					}
				}
			}
		}
		.expense {
			header {
				p {
					&:before {
						background: #b068d2;
					}
					&:after {
						content: '';
						display: block; position: absolute; left: -50px; top: -2px;
						border-bottom: solid 20px #b068d2; border-left: solid 13px transparent; border-right: solid 13px transparent;
						@include respond-to(sm) {
							left: -37px;
						}
					}
				}
			}
			& > ul {
				& > li {
					& > p {
						&:before {
							background: #b068d2;
						}
						&:after {
							content: '';
							display: block; position: absolute; left: -40px; top: 1px;
							border-bottom: solid 10px #b068d2; border-left: solid 6.5px transparent; border-right: solid 6.5px transparent;
							@include respond-to(sm) {
								left: -29px;
							}
						}
					}
				}
			}
		}

		.income, .expense {
			@include respond-to(sm) {
				display: none;
			}
			&.active {
				@include respond-to(sm) {
					display: block;
				}
			}
		}
	}

}

// Funds Page
.funds {
	h1 {
		color: $black; font-family: $ms-500; font-size: 26px; line-height: 32px;
		margin-bottom: 32px;
	}
	ul {
		display: flex; justify-content: space-between; flex-wrap: wrap; margin: -10px;
		@include respond-to(xs) {
			margin: 0;
		}
		li {
			width: calc(25% - 20px); margin: 10px;
			@include respond-to(md) {
				width: calc(33.3333333% - 20px);
			}
			@include respond-to(sm) {
				width: calc(50% - 20px);
			}
			@include respond-to(xs) {
				width: 100%; margin: 0 0 20px;
			}
			&:last-child {
				@include respond-to(xs) {
					margin-bottom: 0;
				}
			}
			a {
				&:hover {
					figure {
						box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
					}
				}
			}
			figure {
				width: 100%; height: 180px; display: flex; justify-content: center; align-items: center;
				background: $white; border-radius: 4px;
				transition: box-shadow 0.3s ease-out;
				img {
					max-height: 90px; max-width: 170px;
				}
			}
		}
	}
}

// Fund Page
.fund {
	&-intro {
		padding-top: 25px;
		h1 {
			color: $white; font-family: $ms-500; font-size: 36px; line-height: 42px;
			@include respond-to(sm) {
				font-size: 30px; line-height: 36px;
			}
		}
	}
	&-progress {
		& > * {
			&:last-child {
				margin-bottom: 0;
			}
		}
		.progress {
			padding-right: 178px; margin-bottom: 5px;
			@include respond-to(sm) {
				padding-right: 0;  padding-bottom: 26px;
			}
			span {
				&.progressbar {
					height: 30px; position: relative; display: block;
					border-radius: 5px;
				}
				&.value {
					color: $black; font-family: $ms-500; font-size: 16px;
					flex-shrink: 0; width: 178px; padding-left: 19px; position: absolute; right: 0; top: 50%; transform: translate(100%, -50%);
					@include respond-to(sm) {
						padding-left: 0px; width: 168px; left: 0; bottom: -6px; transform: translateY(100%);
					}
				}
			}
		}
		p {
			color: $black; font-family: $ms-500; font-size: 16px;
			margin-bottom: 22px;
		}
	}

	&-tabs {
		ul {
			display: flex;
			li {
				a {
					color: $black; font-family: $ms-500; font-size: 16px;
					display: block; padding: 18px 25px 16px;
					&.active {
						background: $gray-bg;
						pointer-events: none;
					}
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
	&-tab {
		padding: 79px 0 30px; display: none;
		background: $gray-bg;
		&.active {
			display: block;
		}
		table {
			width: 100%; position: relative;
			background: #ffffff; border-radius: 4px; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
			@include respond-to(md) {
				display: block; overflow-x: auto;
			}
			tr {
				&:hover {
					background: #f3f3f3;
				}
				&:last-child {
					td {
						border-bottom: none;
					}
				}
				&:first-child {
					&:hover {
						background: none;
					}
				}
				th {
					color: $black; font-family: $ms-500; font-size: 14px; text-align: left;
					padding: 10px 20px;
					border-bottom: solid 1px #d8d8d8;
					@include respond-to(md) {
						padding: 10px;
						border-bottom: solid 1px #d8d8d8;
					}
					a {
						color: $black; font-family: $ms-500; font-size: 16px; line-height: 20px;
						display: inline-block; margin-right: 32px;
						opacity: 0.3;
						&:last-child {
							margin-right: 0;
						}
						&:hover {
							opacity: 0.7;
						}
						&.active {
							opacity: 1;
							pointer-events: none;
						}
					}
				}
				td {
					color: $black; font-family: $ms-500; font-size: 16px;
					padding: 25px 0 25px 20px; vertical-align: middle; position: relative;
					border-bottom: solid 1px #d8d8d8;
					@include respond-to(md) {
						padding: 10px 0 10px 10px;
					}
					&:first-child {
						padding-right: 30px; min-width: 780px;
					}
					&:last-child {
						flex-shrink: 0; width: 17.9%; min-width: 170px;
					}
					a {
						font-size: inherit; font-family: inherit; letter-spacing: inherit;
						position: absolute; padding-left: 20px; left: 0; top: 0; width: 100%; height: 100%; display: flex; align-items: center;
						@include respond-to(lg) {
							padding-left: 10px;
						}
						&:hover {
							color: $brand;
						}
					}
				}
			}
		}
	}
}