// Colors
$brand: #4489ff;
$black: black;
$white: white;
$gray-text: #a0a0a0;
$gray-text-2: #4b5769;
$gray-bg: #f4f7fb;

// Fonts
// Museo Sans
$ms-500: 'museosans500', sans-serif;

// Helvetica
$helv: Helvetica, sans-serif;